
<header class="masthead">

    <nav class="language">CSS

HTML
Javascript
Ruby
</nav>


<a/> <img src="assets/AA_Times_Logo.png">
</a>
<p>
    Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%
</p>
</header>




